<div class="copyright py-sm-5 py-4 text-center">
    <div class="container">
        <p class="copy-footer-29">
            © @DateTime.Now.Year | Tüm Hakları Saklıdır <a href="https://w3layouts.com">W3layouts</a>
        </p>
    </div>
</div>
